.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
  }

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  box-shadow: 0px 0px 3px rgb(73, 73, 73);
}

.date {
  width: 70px;
}

.exercise {
  width: 90px;
  min-width: 90px;
}

.sets {
  width: 35px;
  min-width: 35px;
}

.reps {
  width: 35px;
  min-width: 35px;
}

.exercise-row {
  display: flex;
  grid-template-columns: 10% 20% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  padding: 1px;
}

.weight-input-container {
  display: flex;
}

.weight-input {
  font-size: 12px;
  width: 40px;
  transition: 0.3s;
}

.weight-input:hover {
  box-shadow: 0px 0px 9px orange;
}

.weight-input:focus {
  box-shadow: 0px 0px 9px red;
  outline: none;
}
