.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #2196F3;
    padding: 10px;
  }

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.date {
  width: 70px;
}

.exercise {
  width: 90px;
  min-width: 90px;
}

.sets {
  width: 35px;
  min-width: 35px;
}

.reps {
  width: 35px;
  min-width: 35px;
}

.exercise-row {
  display: flex;
  grid-template-columns: 10% 20% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  background-color: #2196F3;
  padding: 1px;
}

.weight-input-container {
  display: flex;
}

.weight-input {
  width: 40px;
}
